@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.password {
  cursor: pointer;
  transition: all $as $ae;
  
  path,
  circle {
    transition: all $as $ae;
  }

  &:hover path,
  &:hover circle {
    stroke: $black;
  }
}