/* FONTS */

  /* font family */
  $ff:  'Redcollar', 'monospace', sans-serif;
  $ff2:  'TTCommons', 'monospace', sans-serif;

  $fs: 18;  // font size
  $lh: 2.4; // line height

/* END FONTS */

/* GRID */

  $space:     8;                      // spacing grid
  $grid_pad:  15;                     // padding column
  $wr_pad:    20;                     // wrapper padding
  $big_pad:   8.43;                   // big padding
  $page_wr:   1760 + ($wr_pad*2);    // max-width content

  /* media */
  $media: (

    desktop_l:  2560,   // desktop long
    desktop_m:  1920,   // desktop middle
    desktop_s:  1500,   // desktop small

    tablet_l:   1280,   // tablet long
    tablet_m:   1024,   // tablet middle
    tablet_s:   900,    //tablet small

    mobile_l:   768,    // mobile long
    mobile_m:   475,    // mobile middle
    mobile_s:   375,    // mobile small
    mobile_xs:  320,    // mobile extra small (not used)

  );

/* END GRID */

/* COLOR */
  $black:             #0D0C0C;
  $light-light-gray:  #FAFAFA;
  $light-gray:        #EFEFEF;
  $gray:              #B3B3BC;
  $dark-gray:         #454B57;
  $white:             #FFF;
  $red:               #F51B1B;
  $purple:            #6C27A3;
  $light-purple:      #EFDAFC;
  $green:             #23AE00;

/* END COLOR */


/* ANIMATE */

  $as: 0.45s;     // animation speed
  $ar: $as*50;    // animation rotation
  $ae: ease-out;  // animation easing

/* END ANIMATE */