@import '../../../styles/vars';
@import '../../../styles/mixins';

.wr {
  position: relative;
}

.title {
  color: $gray;
  font-family: $ff2;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.4px;
  position: absolute;
  top: 1.25rem;
  left: 1rem;
  transition: all $as $ae;
  z-index: 0;
}

.title.visible,
.textarea:focus+.title {
  top: .75rem;
  font-size: .875rem;
  line-height: 1;
}

.textarea {
  position: relative;
  padding: 1.6875rem 1rem .6875rem;
  background-color: transparent;
  font-family: $ff2;
  color: $black;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.36px;
  width: 100%;

  border-radius: 12px;
  border: 1px solid $gray;
  margin-bottom: 2rem;
  z-index: 1;

  &::placeholder {
    color: $gray;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.4px;
    opacity: 0;
    visibility: hidden;
    transition: all $as $ae;
  }

  &:focus::placeholder {
    opacity: 1;
    visibility: visible;
  }

  &:focus {
    border: 1px solid $black;
  }

  &.error {
    border: 1px solid $red;
  }
}

.errorText {
  position: absolute;
  top: 4rem;
  color: $red;
  font-family: $ff2;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.28px;
}