@import '../../styles/vars';
@import '../../styles/mixins';

header {
  padding: 1.875rem 0 0;
}

.right_content {
  max-width: 32%;
  width: 32%;
}

.calendar_month {
  padding: .5625rem 1.5rem;
  font-size: 1.625rem;
  line-height: 1.2;
  letter-spacing: -0.52px;
}

.calendar_arrow {
  display: inline-block;
  &:nth-child(1) {
    margin-right: .5rem;
  }
}

.btnWr {
  margin-right: 2.0625rem;
}